* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  background: linear-gradient(to left, pink, purple);
  color: white;
  padding: 2rem;
  border-radius: 5px;
  border: none;
}

#container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.toast {
  background-image: linear-gradient(to right, pink, purple);
  padding: 2rem;
  color: #fff;
  border-radius: 5px;
  margin: 1rem;
}
